a {
  color: black;
  text-decoration: none;
}

.price {
  font-weight: bolder;
  color: #548CA8;
}

.product__image{
  height: 300px;
  object-fit: cover;
}

.addToSomethingButton{
  width: 100%;
  border: none;
  height: 50px;
  transition: background-color 0.3s ease;
}

.addToSomethingButton:hover{
  background-color: #334257;
}

.addToSomethingButton > img {
  max-height: 25px;
}

.addToCartButton{
  background-color: #548CA8;
}

.product__details > p{
  white-space: nowrap;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
